.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: auto;
}
.back_btn_wrapper {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}

.back_btn_wrapper p {
  font-size: 1em;
  color: rgb(255, 255, 255);
  margin-bottom: 0.5em;
}
.back_button {
  color: #fff;
  font-size: 1.6em;
  margin-left: 0.5em;
}
.header {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 100%;
  height: 100px;
  justify-content: center;
}

a {
  color: #fff;
  text-decoration: none;
  font-size: 1.1em;
}
.results {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.wrapper h1 {
  font-size: 1.4em;
  text-align: left;
  color: #fff;
  font-weight: 400;
  margin-right: auto;
  margin-left: 45px;
}
.movie_card {
  height: auto;
  width: 100%;
  max-width: 300px;
  background: rgb(71, 71, 71);
  margin: 1em 2em;
  border-radius: 6px;
}
.movie_poster {
  height: 400px;
  background: #000;
  border-radius: 6px;
}
.movie_poster img {
  height: 100%;
  width: 100%;
  border-radius: 6px;
}
.movie_details {
  border-radius: 6px;
  margin: 4%;
  display: flex;
  flex-direction: column;
}
.movie_details p {
  font-size: 1.1em;
  margin: 1%;
  text-align: left;
}
.movie_details h5 {
  font-size: 0.8em;
  color: rgb(207, 207, 207);
  font-weight: 400;
  margin: 1%;
}
.movie_details h5:nth-child(3) {
  background: rgb(102, 102, 102);
  width: fit-content;
  border-radius: 4px;
  padding: 5px 10px;
  color: rgb(255, 255, 255);
  box-shadow: 0px 4px 4px rgba(43, 43, 43, 0.25);
}

@media (min-width: 768px) {
  .wrapper h1 {
    font-size: 2em;
    text-align: left;
  }
}
@media (min-width: 900px) {
  .wrapper h1 {
    margin-left: 70px;
  }
}
