/* Google Fonts (Roboto)*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
/* Poppins (Fallback) */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

/* CSS reset and Global Styles */
* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Poppins";
  box-sizing: border-box;
}
body {
  background: #202020;
}

/* Custom Scrollbar */

/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(102, 102, 102);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #e7e7e7;
}
